
/*
	Based upon Jakub Hampl's "Designing a departures board with CSS3".
	http://gampleman.eu/post/1488470623/designing-a-departures-board-with-css3
*/




.departure-board {
    padding:  0.36em;
    display: inline-block;
	line-height: 1.3em;
    background: rgb(30, 30, 30);
    -webkit-border-radius: 0.21em;
    -moz-border-radius: 0.21em;
    border-radius: 0.21em;
    color: #eee;
	font-family: Helvetica;
}


.departure-board span.letter {
	display: inline-block;
	width: 1em;
	margin: 0 .1em;
	height: 1.3em;
	text-align: center;
	position: relative;
}


.departure-board span.letter {
	-webkit-box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 

	-moz-box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 

	-o-box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 

	box-shadow: 
		inset 0 -.07em 0 rgba(50, 50, 50, .7), 
		inset 0 -.14em 0 rgba(0, 0, 0, .7), 
		inset .14em 0 .28em rgba(0, 0, 0, .9), 
		inset -.14em 0 .28em rgba(0, 0, 0, .9),	
		0 .07em 0 rgba(255, 255, 255, .2); 
}


.departure-board span.letter:before {
	border-top: .07em solid rgba(0, 0, 0, .4);
	border-bottom: .07em solid rgba(255, 255, 255, .08);
	height: 0;
	position: relative;
	width: 100%;
	left: 0;
	top: .62em;
	content: " ";
	display: block;
	z-index: 2;
	-moz-transform: translate(0, -.05em);
	-o-transform: translate(0, -.1em);
}


.departure-board span.fold {
	display: block;
	position: absolute;
	height: 0;
	top: .65em;
}


.departure-board span.flap {
	display: block;
	position: absolute;
	top: 0em;	
	width: 1em;
	height: .65em;
	margin: 0;
	overflow: hidden;
}


.departure-board span.text {
	width: 100%;
}
	

.departure-board span.bottom {
	top: .65em;
}


.departure-board span.bottom span.text {
	position: relative;
	top: -.65em;
}
	


.departure-board span.flap.falling {
	display: none;
	bottom: 0;	
	top: auto;
}


.departure-board span.flap.falling span.text {
	-webkit-backface-visibility: hidden;
	border-top: .03em solid #444;
	border-bottom: .03em solid #444;	
    background: #000;
	display: block;
	position: relative;
	
	-webkit-transform: scaleY(1); 
	-moz-transform: scaleY(1); 
	-o-transform: scaleY(1); 
	transform: scaleY(1); 
	
	-webkit-transition: -webkit-transform linear;
	-moz-transition: -moz-transform linear;
	-o-transition: -o-transform linear;
	transition: transform linear;
}

